{
  "semi": false,
  "singleQuote": true,
  "printWidth": 200,
  "tabWidth": 2,
  "jsxSingleQuote": false,
  "arrowParens": "always",
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ]
}
