.mode-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  right: 20px;
  margin-left: 15px;
}

.mode-icon {
  margin-right: 8px;
  margin-top: 1px;
}